/* Your styles here */
body{
    width: 500px;
   min-width: 310px;
   margin: auto;
}
header{
    background-color: black;
    text-align: center;
}

#sfondo-pic {
background: url(../images/banner.jpg);
padding: 2em;
}

h3{
    text-align: center;
    color: #03b0fa;
    margin: 1em 1em;
    padding-top: 1rem;
    font-size: xx-large;
}
h2{
    text-align: center;
    color: #03b0fa;
    margin-bottom: 1em;
    border: #03b0fa;
    font-size: xx-large;
}
.sfondo-colore {
    background-color: #e22d0e;
    color: antiquewhite;
}
button {
    text-align: center;
    margin: 3em 12em;
    padding: 1em;
}
p {
    text-align: center;
    margin: 1em 1em;
    padding: 1em 1em;
}
.border{
    text-align: center;
    border: solid rgb(232, 232, 238);
    margin: 2em;
}
article {
    margin: 1em;
    text-align: center;
}
footer{
    background-color: #25a2c3;
    margin-top: 1em;
    padding-top: 2em;
    color: aliceblue;
}
